# Compiled Object files
*.slo
*.lo
*.o
*.out
*.lib

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Test binaries
src/test_all
src/*_test

# Visual Studio stuff
*.suo
*.db
.vs/*
*.pdb
*.idb
*.lastbuildstate
*.vcxproj.*
*.tlog
*.log
*.pch
*.obj

