# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Test binaries
src/test_all
src/*_test

# Visual Studio stuff
*.suo
*.db
.vs/*

# Logfiles
*.log*
